@charset "UTF-8";
@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url(../font/rb_regular.ttf),url(../font/rb_bold.ttf);
}

body{
    font-family: 'Droid Arabic Kufi', serif !important;

}
.navbar-brand img {
    height: 2.3rem;

}


.navbar-brand {
    display: inline-block;
     padding-top: 5px;
     padding-bottom: 6px;
}
